{% extends "base.html" %}

{% block content %}
    <h1>Lista de Outfits</h1>
    <ul>
        {% for outfit in outfits %}
        <img src="{{ outfit.foto.url }}" alt="Foto de {{ outfit.etiqueta.nombre }}" width="300">
            <li>
                <p>Etiqueta: {{ outfit.etiqueta.nombre }}</p>
                <p>Fecha de creación: {{ outfit.creado_en }}</p>
                <ul>
                    {% for prenda in outfit.prendas.all %}
                        <li>{{ prenda.get_tipo_display }}: <a href="{{ prenda.enlace_compra }}">{{ prenda.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <!-- Agregar paginación si la habilitaste en la vista -->
    <div class="pagination">
        <span class="step-links">
            {% if outfits.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ outfits.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ outfits.number }} de {{ outfits.paginator.num_pages }}.
            </span>

            {% if outfits.has_next %}
                <a href="?page={{ outfits.next_page_number }}">Siguiente</a>
                <a href="?page={{ outfits.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}