{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Lista de Outfits</h1>
</div>
    <div class="outfit-list">
        {% for outfit in outfits %}
        <div class="outfit-foto">
            <a href="{% url 'outfit-detalles' outfit.pk %}">
                <img src="{{ outfit.foto.url }}" alt="Foto de {{ outfit.etiqueta.nombre }}">
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if outfits.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ outfits.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ outfits.number }} de {{ outfits.paginator.num_pages }}.
            </span>

            {% if outfits.has_next %}
                <a href="?page={{ outfits.next_page_number }}">Siguiente</a>
                <a href="?page={{ outfits.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

